@model XptoOrcamentos.Models.Contrato.ContratoViewModelEdit

<form asp-action="Create" method="post">
    <div class="container-fluid small">
        <div class="row">
            <div class="col-sm-6">
                <h4>Editar Contrato</h4>
            </div>
            <div class="col-sm-6 text-right">
                <a asp-controller="Contrato" asp-action="Index"><i class="fas fa-home"></i> Voltar para lista de Contratos</a>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="submit" asp-controller="Contrato" asp-action="Edit" class="btn btn-outline-success" value="Salvar Contrato" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label asp-for="@Model.Nome">Nome</label>
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.Id" />
                    <input type="text" asp-for="Nome" class="form-control" />
                    <span asp-validation-for="@Model.Nome" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <label asp-for="@Model.CNPJ">CNPJ</label>
                <div class="form-group">
                    <input type="text" asp-for="CNPJ" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" class="form-control" />
                    <span asp-validation-for="@Model.CNPJ" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="@Model.Logradouro">Logradouro</label>
                <div class="form-group">
                    <input type="text" asp-for="Logradouro" class="form-control" />
                    <span asp-validation-for="@Model.Logradouro" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <label asp-for="@Model.Bairro">Bairro</label>
                <div class="form-group">
                    <input type="text" asp-for="Bairro" class="form-control" />
                    <span asp-validation-for="@Model.Bairro" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <label asp-for="@Model.Complemento">Complemento</label>
                <div class="form-group">
                    <input type="text" asp-for="Complemento" class="form-control" />
                    <span asp-validation-for="@Model.Complemento" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="@Model.Cidade">Cidade</label>
                <div class="form-group">
                    <input type="text" asp-for="Cidade" class="form-control" />
                    <span asp-validation-for="@Model.Cidade" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <label asp-for="@Model.Estado">Estado</label>
                <div class="form-group">
                    <input type="text" asp-for="Estado" class="form-control" />
                    <span asp-validation-for="@Model.Estado" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <label asp-for="@Model.CEP">CEP</label>
                <div class="form-group">
                    <input type="text" asp-for="CEP" class="form-control" />
                    <span asp-validation-for="@Model.CEP" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");}
}