@model XptoOrcamentos.Models.Contrato.ContratoViewModel

<form asp-controller="Contrato">
    <div class="container-fluid small">
        <a asp-action="Create" asp-controller="Contrato" class="btn btn-outline-info">Novo Contrato</a>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Cód</th>
                            <th>Nome</th>
                            <th>CNPJ</th>
                            <th>Cidade</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Contratos != null)
                        {
                            foreach (var item in Model.Contratos)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Nome</td>
                                    <td>@item.CNPJ</td>
                                    <td>@item.Cidade</td>
                                    <td>
                                        <a asp-action="Edit" asp-controller="Contrato" asp-route-id="@item.Id" class="btn btn-outline-primary">Editar</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="text-center">Não existem dados cadastrados</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>